/* ======= class ======== */
.class {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12em 0; 
    color: #614D3B;
    position: relative;
}
.Banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}
.mobileBanner {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.class-text {
    font-family: "Kiwi Maru", serif;
    text-align: center;
    line-height: 1.6;
    margin: 1.5em;
}
.class-text h2 {
    font-size: 2.5rem;
    margin-bottom: 1em;
}
.class-text p {
    font-size: 1.3rem;
}


.class-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.card-text {
    font-family: "Kiwi Maru", serif;
    font-size: 1.3rem;
    line-height: 1.6;
    margin: 1em;
}
.class-card {
    background-color: #FDF9F2;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    flex: 1;
    padding: 2em 0;
}
.class-card:hover {
    outline: 2px solid #854D0E;
}
.class-btn:hover {
    background-color: #854D0E;
    color: #FDF9F2;
    transition: .5s;
}

.class-btn {    
    font-family: "Kiwi Maru", serif;
    border-radius: 24px;
    color: #614D3B;
    background-color: #F3CDB5;
}
.class-btn a {
    font-size: 24px;
    display: inline-block;
    padding: 0.5em 2.5em;
}

.class-dec {
    position: absolute;
    bottom: -3px;
    z-index: 1;
}

@media (max-width: 1200px) {
    .class {
        padding: 9em 0;
    }
}
@media (max-width: 768px) {
    .Banner {
        display: none;
    }
    .mobileBanner {
        display: flex;
    }

    .class-list {
        max-width: 100%;
        flex-direction: column;
        margin: auto;
    }
    .class h2 {
        font-size: 2rem;
        margin-bottom: .5em;
    }
    .class p {
        font-size: 1rem;
    }
    .class-btn a {
        font-size: .9rem;
    }
    .card-text {
        font-size: 1rem;
        margin: .5em;
    }
    .class-icon img{
        width: 80%;
    }
}
@media (max-width: 568px) {
    .class-list {
        max-width: 90%;
    }
    .class {
        padding: 7rem 10px 3rem;
    }
    .class h2 {
        font-size: 1.5rem;
    }
    .class p {
        font-size: .9rem;
    }
    .class-card{
        padding: 1em 0;
    }
    .class-icon img{
        width: 60%;
    }
    .card-text {
        font-size: .9em;
    }
}

/* ======== teacher ========== */
.teacher {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(pic/bgicon.svg) no-repeat center / cover;
    padding: 10em 0;
}

.teacher-container {
    max-width: 1200px;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.teacher-card {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    gap: 60px;
}

.teacher-pic {
    grid-column:  1 / 2;
    grid-row: 1 / 2;
    position: relative;
}
.teacher-name {
    position: absolute;
    right: 0;
    bottom: 40%;
    background-color: #F7EFE6;
    
    box-shadow: 3px 3px #F3CDB5;
    padding: 10px;
    border-radius: 8px;
    color: #854D0E;
    font-size: 1.3rem;
    white-space: nowrap;
    z-index: 2;
}
.teacher-text {
    font-family: "Kiwi Maru", serif;
    color: #614D3B;
    font-size: 1.3rem;
    line-height: 1.6;
    background-color: #F7EFE6;
    padding: 2em;
    border-radius: 24px;
}


@media (max-width: 1200px) {
    .teacher {
        padding: 6em 0;
    }
    .teacher-container {
        width: 90%;
        gap: 40px;
    }
    .teacher-name {
        bottom: 50%;
    }
    .teacher-card {
        gap: 30px;
    }
}

@media (max-width: 768px) {
    .teacher {
        padding: 4em 0;
    }
    .teacher-container {
        width: 100%;
        gap: 30px;
    }
    .teacher-card {
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .teacher-pic {
        justify-self: center;
    }
    .teacher-name {
        font-size: 1rem;
        right: 20%;
        bottom: 0;
    }
    .teacher-text {
        margin: 1rem 6rem;
        padding: 1em;
        font-size: 1rem;
    }
}

@media (max-width: 568px) {
    .teacher {
        padding: 3rem 0;
    }
    .teacher-container {
        gap: 15px;
    }
    
    .teacher-pic {
        max-width: 150px;
    }
    .teacher-card {
        gap: 10px;
    }
    .teacher-text {
        margin: 1rem;
        padding: 1rem;
        font-size: .9rem;
    }
    .teacher-name {
        font-size: .9rem;
        padding: 5px;
    }
}



/* ========== environment =========== */
        .environment {
            max-width: 1200px;
            width: 90%;
            display: flex;
            flex-flow: wrap;
            margin: 0 auto;
            align-items: center;
            gap: 30px;
            padding: 6rem 0 0;
        }
        .classroom {
            flex: 1;
            max-width: 30%;
        }

        .environment-text {
            flex: 1;
            margin: 20px;
            flex-direction: column;
            justify-content: center; 
            padding: 0 3rem;
            font-family: "Kiwi Maru", serif;
            color: #614D3B;
        }

        .environment-text h2 {
            font-size: 2.5rem;
            margin-bottom: .5em;
        }
        .environment-text p {
            font-size: 1.3rem;
            line-height: 1.6;
        }

        @media (max-width: 1200px) {
            .environment-text {
                padding: 0;
            }
            .environment-text {
                margin: 10px;
                padding: 0 .5rem;
            }
        }
        @media (max-width: 768px) {
            .environment {
                flex-direction: column-reverse;
            }
            .classroom {
                max-width: 50%;
            }
            .environment-text {
                margin: 10px;
                padding: 0;
            }
            .environment-text h2 {
                font-size: 2rem;
            }
            .environment-text p {
                font-size: 1rem;
            }
        }
        @media (max-width: 568px) {
            .environment {
                padding: 3rem 0 0;
                gap: 10px;
            }
            .classroom {
                max-width: 50%;
            }
            .environment-text h2 {
                font-size: 1.5rem;
            }
            .environment-text p {
                font-size: .9rem;
            }
        }